extends layout

block content
  p.home-paragraph Welcome to this workout application. Once you log in with Twitter, you will be able to choose a workout and the length of this workout. You will then be able to workout for 4 periods of 50 seconds followed by a break of 45 seconds. You can see your past workouts (if any) in your profile page. 
  p.home-paragraph Feel free to create your custom workouts.
  p.home-paragraph This application was made with Express, Passport, Bootstrap and Pug.

