extends layout
block content
	h1 Profile Page
	if userProfile
		if userProfile.pastWorkouts.length != 0
			each workouts in userProfile.pastWorkouts
				div.past-workout
					p Length of the workout: #{workouts.time} minutes
					p Name of the Workout: #{workouts.workoutName}
		else
			p You don't have any workouts yet