extends layout
block content
	h1 Profile Page
	if userProfile
		if userProfile.pastWorkouts.length != 0
			each workouts in userProfile.pastWorkouts
				div.past-workout
					p.time Length : #{workouts.time} minutes
					p.name Name : #{workouts.workout}
		else
			p You don't have any workouts yet