extends layout
block content
	h3 Choose your workout
	form(action='/workout', method='POST').horizontal-form
		.form-group
			label(for='time').label-form Time (minutes) :
			input(type='number' name='time' id='time' min='5').form-control
		.form-group
			label.label-form Workout
			select(name='workout').form-control
				each workout in workouts
					option(name=workout.workoutName value=workout.workoutName)=workout.workoutName
		.form-group
			input(type='submit' value='Start Workout').btn.btn-info 

