body {
  padding: 20px;
  font: 14px "Nunito", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.nav a{
	font-size: 16px;
}

input[type='text'],
input[type='number']{
	color: #00B7FF;
}

input[type='checkbox']{
	margin-right: 20px;
}

header:after{
	clear: both;
	content:'';
	display: table;
}

.thumbnail{
	max-width: 150px;
}

.workout{
	border: 1px solid black;
	font-size: 16px;
	padding: 10px;
	background-color: #a94442;
}

.workout ul{
	list-style: none;
	margin-top: 10px;
}

video{
	max-width: 50%;
}

.label-form{
	color: #a94442;
	font-size: 16px;
	font-weight: bold;
}

#btn-workout{
	margin-top: 20px;
}

.home-paragraph{
	font-size: 15px;
}

#pageTimer{
	font-size: 35px;
	color: #a94442;
	display: inline-block;
	margin-right: 10px;
}

#currentExoTimer{
	font-size: 30px;
	color: #00B7FF;
	display: inline-block;
}

#exercise{
	display: inline-block;
}

#next{
	display: inline-block;
	font-size: 15px;	
}

.delete_btn{
	margin-left: 50px;
}

.past-workout{
	border: 2px solid #a94442;
}

.past-workout .time{
	font-size: 50px;
}

.past-workout .name{
	font-size: 30px;
	font-weight: bold;
}